@font-face {
	font-family: 'MyriadPro Regular';
	src: url('./assets/fonts/myriadProReg.otf') format("opentype");
}

@font-face {
	font-family: 'Segoe UI Light';
	src: url('./assets/fonts/Segoe-UI-Lite.ttf') format("truetype");
}

body {
	font-family: 'MyriadPro Regular', sans-serif;
	font-size: 16px;
}

.body-wrapper {
	max-width: 1300px;
	margin: 0 auto;
}

.content-wrapper {
	max-width: 1020px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.flex {
	display: flex;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

/* HEADER */

.header-wrap {
	position: relative;
	text-transform: uppercase;
	background-image: url('./assets/img/header-layer.png');
}

.slider-btn {
	position: absolute;
	top: 53%;
	width: 32px;
	height: 57px;
	background-image: url('./assets/img/slider-btn-backg.png');
	cursor: pointer;
}

.slider-btn_right {
	right: 0;
}

.slider-btn__arrow {
	width: 13px;
	height: 19px;
	background-image: url('./assets/img/slider-btn-arrow.png');
}

.slider-btn__arrow.slider-btn__arrow_right {
	background-image: url('./assets/img/slider-btn-arrow-right.png');
}

.header-nav {
	padding-top: 30px;
	justify-content: space-between;
}

.logo {
	align-items: center;
}

.logo__img {
	background-image: url('./assets/img/logo-layer-2.png');
	background-size: contain;
}

.logo__txt {
	font-family: 'MyriadPro Regular';
	margin: 6px 0 0 5px;
	font-size: 3rem;
	font-style: italic;
	color: rgba(255, 255, 255);
}

.nav-bar {
	position: relative;
	align-self: flex-end;
}

.menu-btn {
	font-family: 'MyriadPro Regular';
	font-size: 17px;
}

.menu-btn li {
	background-color: #f5c506;
}

.menu-btn a {
	display: flex;
	position: relative;
	align-items: flex-end;
	color: rgb(155, 125, 8);
	z-index: 11;
}

.menu-btn img {
	padding-right: 10px;
}

.btn__about {
	padding: 11px 26px 11px 39px;
	border-right: 1px solid rgb(193, 168, 72);
}

.btn__services {
	padding: 11px 23px 11px 15px;
	border-right: 1px solid rgb(193, 168, 72);
}

.btn__contact {
	padding: 11px 26px 11px 18px;
}

.nav-bar__bckgr {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('./assets/img/nav-bar-backgr.png');
}

.nav-bar .nav-bar__bckgr:first-child {
	top: -10px;
	left: -10px;
	z-index: 1;
}

.nav-bar .nav-bar__bckgr:nth-child(2) {
	top: -5px;
	left: -5px;
	z-index: 2;
}

/* Header content */

.header-content {
	padding: 55px 0 70px 10px;
}

.header-content__video-wrapper {
	position: relative;
}

.video-layer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('./assets/img/video-poster-layer.png');
}

.header-content__video {
	width: 549px;
}

.video__play-btn {
	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url('./assets/img/slider-play-btn-bckgr.png');
	cursor: pointer;
	z-index: 22;
}

.header-content .video__play-btn {
	top: 40%;
	left: 45%;
}

.header-content__txt {
	width: 50%;
	padding: 75px 0 0 25px;
	text-align: center;
	font-family: 'Asap';
	font-size: 4rem;
	line-height: 1.2;
	color: #fff;
}

.yellow-txt {
	color: #f5c506;
}

/* MAIN benefits */

.benefits-wrapper {
	position: relative;
	background-image: url('./assets/img/main-benefits-layer.png');
}

.benefits-wrapper::before {
	content: "";
	position: absolute;
	top: -10px;
	width: 100%;
	height: 1px;
	box-shadow: 0 5px 5px #000;
}

.benefits-wrapper::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1px;
	box-shadow: 0 3px 3px 0px #000;
}

.benefits-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 212px;
	font-family: 'Segoe UI Light';
	font-size: 1.7rem;
	text-transform: uppercase;
	cursor: default;
}

.benefits-section__item {
	display: flex;
	position: relative;
	flex-direction: column;
	padding-bottom: 37px;
	justify-content: flex-end;
	align-items: center;
}

.benefits-section__item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background-color: #ccc;
}

.benefits-section :last-child::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background-color: #ccc;
}

.benefits-section__item img {
	display: block;
	margin: 0 auto;
}

.benefits-section__item_one span {
	padding-left: 17px;
}

.benefits-section__item_two span {
	padding-left: 17px;
}

.benefits-section__item_three span {
	padding-right: 17px;
}

.benefits-section__item_one img {
	padding: 0px 5px 14px 0;
}

.benefits-section__item_one img {
	padding: 0px 5px 14px 0;
}

.benefits-section__item_two img {
	padding: 0 0 17px 16px;
}

.benefits-section__item_three img {
	padding: 0 21px 13px 0;
}

/* MAIN slider */

.slider-wrapper {
	background-image: url('./assets/img/main-slider-layer.png');
}

.slider-content {
	font-family: 'Segoe UI Light';
	color: #fff;
}

.slider-content h2 {
	padding: 39px 0 38px;
	font-family: 'PT Sans';
	font-size: 2.2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.slider__txt {
	position: relative;
	width: 341px;
	height: 233px;
	background-color: #ec9e03;
}

.slider__txt p {
	padding: 12px 0 0 30px;
	font-size: 1.8rem;
	line-height: 1.3;
}

.slider .plus {
	position: absolute;
	bottom: 7%;
	left: 93%;
	width: 11px;
	height: 11px;
	background-image: url('./assets/img/plus.png');
	cursor: pointer;
}

.slider .number {
	position: absolute;
	top: 6%;
	left: 87%;
	font-size: 1.5rem;
}

.slider__video {
	position: relative;
	justify-content: center;
	align-items: center;
}

.slider .video__play-btn {
	top: 38%;
	left: 41%;
}

.slider__social {
	position: relative;
	width: 329px;
	height: 233px;
	margin-left: 33px;
	background-color: #ec9e03;
}

.slider__social img {
	position: absolute;
	top: 24%;
	left: 24%;
}

.slider__date {
	width: 113px;
	height: 86px;
	margin-top: -1px;
	text-align: center;
	font-family: 'Segoe UI';
	background-color: #ddb101;
	cursor: default;
}

.slider__date p:first-child {
	padding-top: 4px;
	font-size: 3.3rem;
	font-weight: bold;
	color: #fff;
}

.slider__date p:last-child {
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #b26529;
}

.slider-range {
	padding: 40px 0 20px;
	text-align: center;
}

input[type='range'] {
	width: 88%;
	position: relative;
	left: 10px;
	height: 15px;
	margin: 0;
	border-radius: 7px;
	-webkit-appearance: none;
	background-color: rgba(255, 255, 255, 0.5);
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 197px;
	height: 15px;
	border: 0;
	border-radius: 7px;
	background: #ec9e03;
	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
	width: 197px;
	height: 15px;
	border: 0;
	border-radius: 7px;
	background: #ec9e03;
	cursor: pointer;
}